body{

  background-image: url("./components/photos/back.jpg");
  /* background: linear-gradient( #b3e4a0, #fffefe)  !important; */
  
  
  background-repeat: no-repeat !important;
  
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 
}

.nav-link:hover{

  
  border-radius: 10%;
  scale: 110%;
  transition:0.5s;
}

.line {
  margin-top: 6%;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.signin{
  color: black;
  text-decoration: none;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item{
  float: left;
  width: 150px;
  margin: auto;

  
}

#form{
  width: 80%;
  margin: auto;
}

.container-fluid{
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


#cart{
  width: 50%;
  margin: auto;
}

#logbutt{
  background: transparent;
border: none !important;
}

#image{
  margin-right: 5px;
  
}
.card{
  
  margin-bottom: 8px;

  margin-left: 11px;
  margin-right: 11px;
  margin-top: 50px;
  background-color: #86af73 !important;
}

.holder{
 
  flex-wrap: wrap; 
  
}

.card-img-top{
  transition: 0.5s;

}

.card-img-top:hover{
  transform: translateY(-15%);
  
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.button {
  display: inline-block;
  padding: 5px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
  text-align: center;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0beb7b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #ffffff;
  border: 1px solid #39bd61;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #18e018;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #6eaf66;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }

 #footer{
  margin-top: 10%;
  float: left;
  width: 100%;
}


